<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SpringBootTestSuite" verbose="1" parallel="false">

    <test name="SpringBootOrangeHRMTests">
        <classes>
            <class name="com.orangehrmdemo.springorangehrmdemo.TesNGTest"/>
        </classes>
    </test>

</suite>
